body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(7, 0, 0, 0.25)),
    url(https://wallpaperaccess.com/full/656670.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -140px;
  font-family: Copperplate Gothic;
}
.login {
  padding: 3%;
  width: 420px;
  height: 400px;
  background: #00000081;
  color: hsla(22, 76%, 89%, 0.918);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 15px;
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.login p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login input {
  width: 100%;
  margin-bottom: 20px;
}
.login input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #eb93eb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #0c0c0c;
}

.button {
  color: blanchedalmond;
  transition: 0.4s;
  background-color: hsla(21, 75%, 89%, 0.575);
  border-radius: 6%;
  text-align: center;
  display: inline-block;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 30%;
  cursor: pointer;
}

.button:hover {
  color: rgb(58, 55, 52);
  transform: scale(1.15);
  background-color: hsla(22, 76%, 89%, 0.918);
}
